@font-face {
    font-family: 'Museo Sans 100 Thin';
    src: url('../fonts/Thin/MuseoSansCyrl-100.eot');
    src: url('../fonts/Thin/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Thin/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/Thin/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../fonts/Light/MuseoSansCyrl-300.eot');
    src: url('../fonts/Light/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Light/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/Light/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }